.familiafuente{
    font-family: 'Arial Narrow', Arial, sans-serif;
}
.estilofuentenormal{
    font-style: normal;
}
.estilofuenteitalic{
    font-style: italic;
}
.estilofuenteoblique{
    font-style: oblique;
    
}
.fuentetamano{
    font-size: 25px;/* Medida relativa */
}
.fuentetamanoabsolu{
    font-size: 1.5em;/* Absoluta */
}
.anchofuente{
    font-weight: bold;
}